@use "variables" as v;

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

button {
  flex: 1;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
